<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286361116133-bnn498h9r9ieiot3daot7v5pvg06bs72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286361116133-bnn498h9r9ieiot3daot7v5pvg06bs72</string>
	<key>API_KEY</key>
	<string>AIzaSyCWmtkQtheCqch9A9r2uClL7_hg31w77yE</string>
	<key>GCM_SENDER_ID</key>
	<string>286361116133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreypithava.Project</string>
	<key>PROJECT_ID</key>
	<string>project-78a71</string>
	<key>STORAGE_BUCKET</key>
	<string>project-78a71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286361116133:ios:51d72ef43b956f53</string>
	<key>DATABASE_URL</key>
	<string>https://project-78a71.firebaseio.com</string>
</dict>
</plist>